<p>home works!</p>

<table>
    <tr>
        <td>{{vehiculosArray}}</td> <td>variable</td> <td>variable</td> <td>variable</td> 
        <button (click)="getear()">
            borrar
        </button> 
        <button (click)="update()">
            modificar
        </button>
    </tr>
    <tr>
        <td>idPatente</td> <td>variable</td> <td>variable</td> <td>variable</td>
        <button>
            borrar
        </button> 
        <button>
            modificar
        </button>
    </tr>
</table>

<h1>insertar cosa</h1>
<p>id, dato, dato, dato</p>
<input> 
<input> 
<input> 
<input> 
<button (click)="sendear()">
enviar
</button>

<!-- 

<button (click)="cambiarAdicion()">+</button>
<span *ngIf="numero>10">dsdfsdfsdfsdsdfs</span>
{{numero}}

-->
